<section id="page-banner" class="pt-105 pb-110 bg_cover" data-overlay="8" style=" height: 230px;   background-image: url(https://img.freepik.com/free-vector/taxi-driver-man-driving-yellow-car-isolated-background-vector-illustration-cartoon-style_165429-1131.jpg)" >
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                  <!-- page banner cont -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
    <br><br><br>
  </section>
<ul class="horizontal-list">
    <li >Name</li>
    <li>Phone#</li>
    <li>Email</li>
    <li>BirthDate</li>
    <li>City</li>
    <li>RequestType</li>
    <li>License</li>
    <li>licenseDate</li>
    <li>Shifts#</li>
 
  </ul>
<div class="driver-list">
    <div class="list-item" *ngFor="let Driver of DriversList">
        <table class="users">

            <tbody>
                <tr>
        <td class="Driver-Name">{{Driver.Driverin_Name}}</td>
        <td class="Driver-Phone">{{Driver.Driver_Phone}}</td>
        <td class="Driver-Email">{{Driver.Driver_Email_PK}}</td>
        <td class="Driver-BirthDate">{{Driver.Driver_BirthDate}}</td>
        <td class="Driver-City">{{Driver.Driver_City}}</td>
        <td class="Driver-ReqType">{{Driver.Driver_Req_Type}}</td>
        <td class="Driver-License">{{Driver.Driver_License}}</td>
        <td class="Driver-LicenseDate">{{Driver.Driver_License_Date}}</td>
        <td class="Driver-Shifts#">{{Driver.Driver_Shifts_Number}}</td>
    </tr>
</tbody>
    </table>
        <br>
        <button type="button" class="btn btn-light" id="edit" [routerLink]="['/Edit-Driver',Driver.Driver_Email_PK]" routerLinkActive="active" >Edit</button>
        <button type="button" class="btn btn-light" id="delete" (click)="deleteDriver(Driver.Driver_Email_PK)">delete</button>
      </div>
  </div>
  <div class="Driver">
    <a class="btn btn-light" id="Add" routerLink="/add-driver">Add New Driver</a>
  </div>