<div class="about-section" id="about-section">
  <div class="container">
    <div class="content-section">
      <div class="title">
        <h1>About Us</h1>
      </div>
      <div class="content">
        <p>
          WeShift is a company that created a website for solving transportation
          issues using technologies such as Google maps, road timers,and online
          payments It finds the suitable taxi for the ride. This happens by
          adding the current location as well as the destination. Then,WeShift
          selects the nearest taxi car for this order, displays the expected
          arrival time as well as the cost. Finally, the customer pays with a
          credit card and enjoy the ride.
        </p>
      </div>
    </div>
  </div>
</div>
