.about-section {
  height: 35vh;
  width: 100%;
  margin-top: 5%;
  background-color: var(--yellow-2-color);
}

.container {
  padding: 16px;
}

.content-section .title {
  text-transform: uppercase;
  text-align: center;
  color: #ffff;
  font-size: 28px;
}

.content h3 {
  margin-top: 15px;
  font-size: 21px;
}

.content p {
  margin-top: 10px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .container {
    display: block;
    margin: auto;
    padding-top: 50px;
  }
}
