<p>car works!</p>
<div class="container">
    <div class="col-md-9">
        <div class="card">
            <div class="card-body" style="background-color: rgb(236, 235, 235);">
                <div class="row">
                    <div class="col-md-12">
                        <h4 style='font-size:48px'>Full Name<i class='far fa-user-circle'></i></h4>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <form name="AddCar" id="AddCar" [formGroup]="AddCarForm" novalidate style="background-color: rgb(236, 235, 235);">
                          <div class="singel-form form-group row">
                            <label for="Car_ID_PK" class="col-4 col-form-label">Car_ID_PK</label> 
                            <div class="col-8">
                              <input formControlName="Car_ID_PK" name="Car_ID_PK" placeholder="Car_ID_PK" class="form-control here" type="text" required="required">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="Car_Model" class="col-4 col-form-label" >Car_Model</label> 
                            <div class="col-8">
                              <input formControlName="Car_Model" name="phone" placeholder="Car_Model" class="form-control here" type="text"  required="required" >
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="Car_Number" class="col-4 col-form-label">Car Number </label> 
                            <div class="col-8">
                              <input formControlName="Car_Number" name="Car_Number" placeholder="Car_Number" class="form-control here" type="text" required="required">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="Expenses" class="col-4 col-form-label">Expenses </label> 
                            <div class="col-8">
                              <input formControlName="Expenses" name="Expenses" placeholder="Expenses" class="form-control here" type="text" required="required">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="Insurance_License" class="col-4 col-form-label">Insurance_License </label> 
                            <div class="col-8">
                              <input formControlName="Insurance_License" name="Insurance_License" placeholder="Insurance_License" class="form-control here" type="text" required="required">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="Car_Fuel_Type" class="col-4 col-form-label"> Car_Fuel_Type </label> 
                            <div class="col-8">
                              <input formControlName="Car_Fuel_Type" name="Car_Fuel_Type" placeholder="Car_Fuel_Type" class="form-control here" type="text" required="required">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="Car_Fuel_Price" class="col-4 col-form-label"> Car_Fuel_Price </label> 
                            <div class="col-8">
                              <input formControlName="Car_Fuel_Price" name="Car_Fuel_Price" placeholder="Car_Fuel_Price" class="form-control here" type="text" required="required">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="Car_Type" class="col-4 col-form-label"> Car_Type </label> 
                            <div class="col-8">
                              <input formControlName="Car_Type" name="Car Type" placeholder="Car_Type" class="form-control here" type="text" required="required">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="Car_Year_Release" class="col-4 col-form-label"> Car_Year_Release </label> 
                            <div class="col-8">
                              <input formControlName="Car_Year_Release" name="Car_Year_Release" placeholder="Car_Year_Release" class="form-control here" type="text" required="required">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="Car_Passenger_Number" class="col-4 col-form-label"> Car_Passenger_Number </label> 
                            <div class="col-8">
                              <input formControlName="Car_Passenger_Number" name="Car_Passenger_Number" placeholder="Car_Passenger_Number" class="form-control here" type="text" required="required">
                            </div>
                          </div>
                          <div class="form-group row">
                            <div class="offset-4 col-8">
                              <button (click)="onSave()" type="submit" class="button-A">Add Car</button>
                            </div>
                          </div>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>