<div class="container">
    <div class="col-md-9">
        <div class="card">
            <div class="card-body" style="background-color: rgb(236, 235, 235);">
                <div class="row">
                    <div class="col-md-12">
                        <h4 style='font-size:48px'>update shift<i class='far fa-user-circle'></i></h4>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <form name="editShift" id="editShift" [formGroup]="EditShiftComponent" novalidate style="background-color: rgb(236, 235, 235);">
                          <div class="form-group row">
                            <label for="Shift_Request_Number" class="col-4 col-form-label" >SRequest Number</label> 
                            <div class="col-8">
                              <input formControlName="Shift_Request_Number" name="" placeholder="Request Number" class="form-control here" type="text"  required="" >
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="Shift_Start" class="col-4 col-form-label">Shift Start </label> 
                            <div class="col-8">
                              <input formControlName="Shift_Start" name="" placeholder="Shift Start" class="form-control here" type="text" required="">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="Shift_End" class="col-4 col-form-label">Shift End </label> 
                            <div class="col-8">
                              <input formControlName="Shift_End" name="" placeholder="Shift End" class="form-control here" type="text" required="">
                            </div>
                          </div>
                          <div class="form-group row">
                            <div class="offset-4 col-8">
                                <button routerLink="/shift-list" routerLinkActive="active" (click)="editShift()" type="submit" class="button-E" >
                                    <span></span>  Edit
                                </button>
                            </div>
                          </div>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
  </div>