/* Main file */

/* Fonts */
body{
  font-family: 'El Messiri', sans-serif;
}

/* Colors, To use it: color: var(--main-color); */
:root{
  --main-color: #06c;
  --blue-Dark-color:#023047;
  --blue-2-color: #1C5D99;
  --blue-3-color:#219EBC;
  --blue-light-color: #8ECAE6;
  --orange-Dark-color: #FB8500;
  --orange-2-color:#FD9E02;
  --yellow-Dark-color:#FFB703;
  --yellow-2-color:#FFD15C;
}

/* Authentication */
/* Sigup */
.open-button {
  background-color: #555;
  color: white;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  border: 3px solid #f1f1f1;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Add styles to the form container */
.form-container {  
  padding: 5%;
  background-color: white;
}

.pargraphs{
  margin-top: 10%;
  margin-bottom: 5%;
  font-size: smaller;
}

#country_code{
    border: none;
    width: auto;
    font-size: 30;
    border: none;
}

/* Full-width input fields */
.form-container input[type=text] {
  padding: 10px;
  background: white;
  width: 80%;
  border: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #219EBC;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:5%;
  margin-top: 10%;
  font-size: larger;
}

#reg{
    color: #FB8500;
    text-decoration: none;
}

/* Navbar */

/* Navbar */
.navbar {
  padding-left: 35%;
  position: sticky;
  top: 0;
  background-color: white;
  width: 100%;
}

/* Service */
.card {
  background: var(--blue-2-color);
  border-radius: 6px;
  user-select: none;
  transition: all 0.3s ease;
  color: white;
}

.card:hover {
  background: #ffffff;
  color: black;
  transform: scale(1.05);
}

.card svg {
  font-size: 50px;
  margin-top: 10%;
  color: var(--orange-Dark-color);
}

.card:hover p {
  color: #000000;
}

/* About Us */
.about-section{
	width: 100%;
	background-color: var(--yellow-2-color);
}

.container {
  padding: 16px;
}

@media screen and (max-width: 768px){
	.container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top:50px;
  }
}
.content-section .title{
	text-transform: uppercase;
  text-align: center;
	font-size: 28px;
  margin-top: 2%;
}

#image-section{
  float: right;
  height: 30%;
  width: 30%;
}

.content{
  width: 55%;
  margin-bottom: 2%;
}

.content h3{
	margin-top: 20px;
	color:#5d5d5d;
	font-size: 21px;
}

.content p{
	margin-top: 10px;
	font-size: 18px;
	line-height: 1.5;
}

/* Contact Us */

