/* Main file */

/* Fonts */
body{
  font-family: 'El Messiri', sans-serif;
}

/* Colors, To use it: color: var(--main-color); */
:root{
  --main-color: #06c;
  --blue-Dark-color:#023047;
  --blue-2-color: #1C5D99;
  --blue-3-color:#219EBC;
  --blue-light-color: #8ECAE6;
  --orange-Dark-color: #FB8500;
  --orange-2-color:#FD9E02;
  --yellow-Dark-color:#FFB703;
  --yellow-2-color:#FFD15C;
}

/* Authentication */

/* Navbar */

/* Service */

/* About Us */

/* Contact Us */

