<section id="page-banner" class="pt-105 pb-110 bg_cover" data-overlay="8" style=" height: 230px;   background-image: url(https://media.istockphoto.com/vectors/set-of-diverse-taxi-cars-and-drivers-funny-taxi-driver-posing-near-vector-id1136287628)">
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- page banner cont -->
            </div>
        </div>
        <!-- row -->
    </div>
    <!-- container -->
    <br><br><br>
</section>
<ul class="horizontal-list">
    <li>Salary ID</li>
    <li>Request Number</li>
    <li>Next Donation</li>
    <li>Frequency</li>
    <li>Next Salary</li>
</ul>
<div class="car-list">
    <div class="list-item">

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Salary ID </th>
                    <th scope="col">Request Number</th>
                    <th scope="col">Next Donation</th>
                    <th scope="col">Frequency</th>
                    <th scope="col">Next Salary</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let sal of salaries;">
                    <td>{{sal.Salary_ID_FK}}</td>
                    <td>{{sal.Request_Number}}</td>
                    <td>{{sal.Next_Donation}}</td>
                    <td>{{sal.Frequency}}</td>
                    <td>{{sal.Next_Salary}}</td>
                </tr>
            </tbody>
        </table>

        <br>

        <!-- <button type="button" class="btn btn-light" id="edit" [routerLink]="['/editSalary',salaries.Salary_ID_FK]" routerLinkActive="active">Edit</button> -->
        <!-- <button type="button" class="btn btn-light" id="delete" (click)="deleteSalary(salaries.Salary_ID_FK)">Delete</button> -->

    </div>
</div>

<div class="Car">
    <a class="btn btn-light" id="Add" routerLink="/salary/adddelete-salary">Add New Salary</a>
</div>