<div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col">Shift ID</th>
                <th scope="col">Driver ID </th>
                <th scope="col">Car ID</th>
                <th scope="col">Request Number</th>
            </tr>
        </thead>
        <tbody *ngFor="let shift of shiftInfo;">
            <tr>
                <td>{{shift.Shift_ID_PK}}</td>
                <td>{{shift.Driver_ID_FK}}</td>
                <td>{{shift.Car_ID_FK}}</td>
                <td>{{shift.Shift_Request_Number}}</td>
            </tr>
        </tbody>
    </table>
</div>