[data-overlay] {
	position: relative;
}
[data-overlay]::before {
	background: #07294d none repeat scroll 0 0;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}

[data-overlay="8"]::before {
	opacity: 0.3;
}
ul.horizontal-list {
    list-style: none;
    background-color:khaki;
    margin: 30px 10px 10px 10px;
    padding :10px 10px 10px 10px;
 }
  ul.horizontal-list li {
    display: inline-block;
    padding: 0 0.1rem;
    min-width: 8.2rem;
  text-align: left;
  }
 
  
.driver-list {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 10px 15px 15px;
  
}


.list-item {
    width: 100%;
	background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(119, 111, 111);
  padding: 10px 30px 10px 30px;
  border-radius: 5px;
    margin-top: 10px;
    display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  
}

.users {
    table-layout: fixed;
    width: 100%;
    white-space: nowrap;
   
  }
  .users td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
   
   
  }

#delete{
  color:red ;
}
#edit{
    color:blue;
}
#Add{
    color: black;
    border-radius: 2px;

   background-color:khaki;
}

.Shifts{
    padding :300px 10px 10px 10px;
    text-align: center;
    
}