.button-E {
    background-color: orange;
    padding: 5px 30px 5px 30px;
    display: inline-block;
    font-size: 0.9rem;
    margin: 5px 5px;
    cursor: pointer;
    border-radius: 10px;
    color: black;
}

.container {
    margin-top: 50px;
    height: 200px;
    width: 35%;
}

.button-A:hover {
    background-color: rgb(236, 235, 235);
}