<div class="container">
    <div class="col-md-9">
        <div class="card">
            <div class="card-body" style="background-color: rgb(236, 235, 235);">
                <div class="row">
                    <div class="col-md-12">
                        <h4 style='font-size:48px'>Edit Customer<i class='far fa-user-circle'></i></h4>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <form name="editCustomer" id="editCustomer" [formGroup]="editCustomerForm" novalidate style="background-color: rgb(236, 235, 235);">
                          <div class="form-group row">
                            <label for="phone" class="col-4 col-form-label">Phone Number</label> 
                            <div class="col-8">
                              <input formControlName="Customer_Phone" name=" " placeholder="+972" class="form-control here" type="tel"  required=" " >
                            </div>
                        </div>
                          <br><br><br>
                          <div class="form-group row">
                            <label for="city" class="col-4 col-form-label">City</label> 
                            <div class="col-8">
                              <input formControlName="Customer_City" name=" " placeholder="City Name" class="form-control here"  type="text" required=" " >
                            </div>
                        </div>
                        <br><br><br>
                          <div class="form-group row">
                            <label for="select" class="col-4 col-form-label">Active</label> 
                            <div class="col-8">
                              <select formControlName="Customer_Acitve" name="select" class="custom-select" required=" ">
                                <option value="active">Active</option>
                                <option value="not active">Not Active</option>
                              </select>
                            </div>
                          </div>
                          <div class="form-group row">
                            <div class="offset-4 col-8">
                                <button routerLink="/customer-list" routerLinkActive="active" (click)="editCustomer()" type="submit" class="button-E" >
                                    <span></span>  Edit
                                </button>
                            </div>
                          </div>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

