<!-- Main HTML page -->
<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />

    <!-- Fonts Links -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=El+Messiri&display=swap" rel="stylesheet" />

    <!-- Bootstrap Links-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />

    <!-- Style Links -->
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>We Shift</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">WeShift</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#firstsection">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                </li>

            </ul>
        </div>
    </nav>
    <!-- first section logo +log in form -->
    <div id="firstsection">
        <div class="bg-img">
        </div>
        <button class="open-button" onclick="openForm()">registration</button>
    </div>
    <!--registeration form-->
    <div class="form-popup" id="myForm">
        <form class="form-container">
            <img src="./assets/pic.png" id="signup_img">
            <div class="pargraphs">
                <h3>Enter your Phone Number</h3>
                <p> Confirm your Country Code and Enter your Phone Number.</p>
            </div>
            <select name="country_code" id="country_code">
                <option value=”+970”>+970</option>
                <option value=”+972”>+972</option>
            </select>
            
            <input type="text" placeholder="Phone Number" name="phoneno" required>
            <div class="form">
                <div class="inputfield">
                   <label>First Name</label>
                   <input type="text"  placeholder="first name" name="first name" required>
                </div>  
                 <div class="inputfield">
                   <label>Last Name</label>
                   <input type="text" placeholder="last name" name="last name" required>
                </div>  
                </div>
            
                <label for="country">Country</label>
                 <select id="country" name="country">
                 <option value="Nablus">Nablus</option>
                 <option value="Ramallah">Ramallah</option>
                  <option value="jenin">jenin</option>
                 </select>
            
            

                 
            
            <button type="submit" class="btn">Go ahead</button>
            <p style="text-align:center;"> Don't have an accout?<a href="#" id="log"> login</a> </p>
        </form>
    </div>
    <script>
        function openForm() {
          document.getElementById("myForm").style.display = "block";
        }
        
        function closeForm() {
          document.getElementById("myForm").style.display = "none";
        }
        </script>

    <!-- services section -->
    <div class="services" id="services">
        <div class="max-width">
            <h1>Our Services</h1>
            <div class="contents">
                <div class="card">
                    <div class="box">
                        <i class="fa fa-paint-brush"></i>
                        <h3>Web Development</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus incidunt labore debitis ea repudiandae numquam.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <i class="fa fa-code"></i>
                        <h3>Grapics Design</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus incidunt labore debitis ea repudiandae numquam.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <i class="fa fa-mobile"></i>
                        <h3>App Development</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus incidunt labore debitis ea repudiandae numquam.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <i class="fa fa-line-chart"></i>
                        <h3>Advertising</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus incidunt labore debitis ea repudiandae numquam.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about us section-->
    <div class="section">
		<div class="container">
			<div class="content-section">
				<div class="title">
					<h1>About Us</h1>
				</div>
				<div class="content">
					<h3>Who We Are?</h3>
					<p>WeShift is a company that created a website for solving transportation issues using technologies such as Google maps,
                         road timers,and online payments It finds the suitable taxi for the ride.
                         This happens by adding the current location as well as the destination. 
                         Then,WeShift selects the nearest taxi car for this order,
                         displays the expected arrival time as well as the cost. Finally,
                          the customer pays with a credit card and enjoy the ride.</p>
				</div>
	
			</div>
			<div class="image-section">
				<img src="imageimg one.jpg">
			</div>
		</div>
	</div>
    <!-- contact us section-->
</body>

</html>