/* Main CSS page */


/* Fonts */

body {
    font-family: 'El Messiri', sans-serif;
}


/* Colors 
To use it: 
    color: var(--mawada-color);
*/

:root {
    --main-color: #06c;
    --blue-Dark-color: #023047;
    --blue-2-color: #1C5D99;
    --blue-3-color: #219EBC;
    --blue-light-color: #8ECAE6;
    --orange-Dark-color: #FB8500;
    --orange-2-color: #FD9E02;
    --yellow-Dark-color: #FFB703;
    --yellow-2-color: #FFD15C;
}
/*registrion*/
.open-button {
    background-color: #555;
    color: white;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
  }
  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: fixed;
    border: 3px solid #f1f1f1;
    margin: 0 auto;
    height: 50%;
    width: 25%;
    top: 30%;
    left: 50%;
    
    transform: translate(-50%, -50%);
  }
  /* Add styles to the form container */
  .form-container {  
    padding: 5%;
    background-color: white;
  }
  #signup_img{
    border-radius: 8px;
    height: 20%;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .pargraphs{
    margin-top: 10%;
    margin-bottom: 5%;
    font-size: smaller;
  }
  #country_code{
      border: none;
      width: auto;
      font-size: 30;
      border: none;
  }
  .form{
      display: inline;
  }
  
  
  /* Full-width input fields */
  .form-container input[type=text] {
    padding: 10px;
    background: white;
    width: 80%;
    border: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #219EBC;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:5%;
    margin-top: 10%;
    font-size: larger;
  }
  #reg{
      color: #FB8500;
      text-decoration: none;
  }
  

/*first section Need to edit */

.bg-img {
    /* The image used */
    background-image: url("assets/firstSection.png");
    height: 400px;
    margin-left: 5%;
    margin-top: 70px;
    background-repeat: no-repeat;
    background-size: auto;
    position: relative;
}

.container {
    position: absolute;
    right: 0;
    margin: 20px;
    max-width: 300px;
    padding: 16px;
    background-color: white;
}


/* Full-width input fields */

input[type=text],
input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}


/* Set a style for the submit button */

.btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.btn:hover {
    opacity: 1;
}


/* services*/

nav {
    margin-left: 5%;
}

.active .nav-link:hover {
    color: var(--orange-Dark-color)
}

.services {
    padding: 100px 0;
}

.max-width {
    max-width: 1300px;
    padding: 0 45px;
    margin: auto;
}

.max-width h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.card {
    background: var(--blue-2-color);
    text-align: center;
    border-radius: 6px;
    padding: 50px 25px;
    user-select: none;
    width: calc(26% - 20px);
    cursor: pointer;
    transition: all 0.3s ease;
}

.card:hover {
    background: #ffffff;
}

.box {
    transition: all 0.3s ease;
}

.card:hover .box {
    transform: scale(1.05);
}

.box i {
    font-size: 50px;
    color: #ffffff;
    transition: color 0.3s ease;
}

.card:hover .box i {
    color: var(--orange-Dark-color);
}

.box h3 {
    color: #ffffff;
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px;
}

.box:hover h3 {
    color: var(--orange-Dark-color);
}

.box p {
    color: #ffffff;
}

.box:hover p {
    color: #000000;
}