<h1> Welcome to Dashboard! </h1>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card bg-light m-2" style="width: 300px;">
            <div class="card-body">
                <h2 class="card-title">Active Customers Today</h2>
                <p class="card-text">This is body text inside my Bootstrap card.</p>
            </div>
        </div>
    </div>
    <div class="col">

        <div class="card bg-light m-2" style="width: 300px;">
            <div class="card-body">
                <h2 class="card-title">Number of Requests Today</h2>
                <p class="card-text">This is body text inside my Bootstrap card.</p>
            </div>
        </div>
    </div>
    <div class="col">

        <div class="card bg-light m-2" style="width: 300px;">
            <div class="card-body">
                <h2 class="card-title">We are on shift {{1}}</h2>
                <p class="card-text">Started at "8:00am"</p>
                <p class="card-text">Next shift starts at "8:00am"</p>
            </div>
        </div>
    </div>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card bg-light m-2" style="width: 300px;">
            <div class="card-body">
                <h2 class="card-title">Total Costs Today</h2>
                <p class="card-text">This is body text inside my Bootstrap card.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card bg-light m-2" style="width: 300px;">
            <div class="card-body">
                <h2 class="card-title">Total Revenue Today</h2>
                <p class="card-text">This is body text inside my Bootstrap card.</p>
            </div>
        </div>
    </div>
    <div class="col">

    </div>
</div>